.titulo {
    background-color: #002a00;
    color: #abd1bc;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}


a, .nav-link {
    color: inherit;
    text-decoration: none;
    color: #005025;
}
  
a, .nav-link {
    background:
        linear-gradient(
        to right,
        rgb(51, 114, 46),
        rgb(88, 214, 30)
        ),
        linear-gradient(
        to right,
        #009F4A,
        #006F34,
        rgb(247, 247, 247)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

a:hover {
    color: white;
    background-size: 0 3px, 100% 3px;
}

.nav-link:hover {
    color: yellow;
    background-size: 0 3px, 100% 3px;
}