.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
}

.card-team{
    background: #deffc6;
}


.card-header {
    background-image: url('/static/tournament/img/fondo.jpg');
    color: white;  
}

a, .nav-link {
    color: inherit;
    text-decoration: none;
    color: #ffffff;
}
  
.nav-link {
    background:
        linear-gradient(
            to right,
            transparent 0%,
            transparent 100%
        ),
        linear-gradient(
            to right,
            #327d25 0%,
            #abfe94 100%
        );  

    
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

a:hover {
    color: white;
    background-size: 0 3px, 100% 3px;
}

.nav-link:hover {
    color: yellow;
    background-size: 0 3px, 100% 3px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #32722e; /* Verde oscuro */
    border-radius: 50%;
    opacity: 0.9;
}


.navbar-brand {
    font-weight: bold;
    color:#7dd869;
}

.card .rounded-circle {
    border: 3px solid #32722e;
}

