{% extends "tournament/base.html" %}

{% load static %}

{% block content %}
<div class="card-header">
    <h1 class="text-center">Tabla de Posiciones</h1>
</div>
<div class="card-body ">
    <div class="table-responsive text-center">
        <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="text-center">
            <tr>
                <th>#</th>
                <th>Equipo</th>
                <th>PJ</th>
                <th>PG</th>
                <th>PE</th>
                <th>PP</th>
                <th class="th-bg">Puntos</th>
                <th>GF</th>
                <th>GC</th>
                <th>+/-</th>
            </tr>
        </thead>
        <tbody>
            {% for team in standings %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td style="text-align: left;">{{ team.team }}</td>
                <td>{{ team.matches_played }}</td>
                <td>{{ team.won }}</td>
                <td>{{ team.drawn }}</td>
                <td>{{ team.lost }}</td>
                <td class="th-bg"><strong>{{ team.points }}</strong></td>
                <td>{{ team.goals_for }}</td>
                <td>{{ team.goals_against }}</td>
                {% if team.goal_difference >= 0 %}
                <td class="text-success">{{ team.goal_difference }}</td>
                {% else %}
                <td class="text-danger">{{ team.goal_difference }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <p class="text-muted">* Tabla actualizada al finalizar la última jornada.</p>
</div>
{% endblock %}